doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Пример для быстрого старта проекта
        meta(name="description" content="")
        meta(name="keywords" content="")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="js/main-script.js")
        link(rel="stylesheet" href="css/main-style.css")

    body
        header
            nav
                ul
                    each item in menu
                        li
                            a(href= item.url)= item.title
        main
            block content
        footer Футер